.test{
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width: 600px) {
    body{ 
        background-color: #054be1!important;
    }
    .container{
        width: 400px!important;
    }
    .container_top{
        width: 400px!important;
        padding: 5%;
        margin: auto;
        margin-top: -10vw!important;
    }
}

body{
    min-width: 400px;
}

header{
    background-color: black;
}

.background_gray{
    background-color: #EEE;
}

.container{
    width: 600px;
    margin: auto;
    padding: 30px 0;
}

.container_top{
    width: 70vw;
    padding: 5%;
    margin: auto;
    margin-top: -10vw!important;
}

.container_top h1{
    color: white;
    font-size: 5vw;
    line-height: 2em;
    letter-spacing: 0.3em;
    white-space: nowrap;
    position: relative;
    z-index: 10;
}

.container_top .subtitle{
    color: white;
    /* display:inline; */
    font-size: 1vw;
    letter-spacing: 0.3em;
    white-space: nowrap;
    position: relative;
    z-index: 10;
}

.sls{
    width: 100%;
    margin: auto;
    margin-top: -5vw!important;
}

.content_figure{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    margin-top: -10vw!important;
}


.omakase_logo{
    padding: 20px;
    float: right;
    text-align: center;
}

.omakase_logo_img{
    width: 20vw;
}

.omakase_text{
    color: white;
    font-size: 2vw;
    margin: auto;
}

.top_background{
    background-color: black;
}


.content_text{
    line-height: 2em;
    /* font-size: 1.5vw; */
}

.crossline{
    display: block;
    text-align: center;
    margin: 30px auto;
    height:30px;
}

.intro .navi ul{
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.intro .navi .btn-circle-flat{
    /* list-style: none; */
    display: block;
    text-align: center;
    /* margin: auto; */
    background: linear-gradient(to bottom, #5af, #054be1);
    color: #FFF;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-decoration: none;
    /* float: left; */
    /* display: inline-block;  */
    /* display: table-cell; */
}

/* .intro li:first-child {
 margin-left: 0;
}*/

/* .intro li+li {
   margin-left: 20%;
} */

.section_icon{
    text-align: center;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    border: solid 2px #003ce0;
    margin: 20px auto;
    color: #003ce0;
    font-weight: bold;
}

.section_title{ 
    display: inline-block;
    font-size: 30px;
    border-bottom: solid 3px #000;
    /* text-decoration: underline; */
    text-align: center;
    line-height: 2em;
    letter-spacing: 0.1em;
    margin: 50px auto;
}

.intro_subtitle{
    text-align: center;
    margin-top: 5%;
    line-height: 2em;
    letter-spacing: 0.3em;
    font-size: 1.5vw;
}

.intro h1{
    text-align: center;
    line-height: 2em;
    letter-spacing: 0.3em;
    font-size: 4vw;
}

#why .compair{
    text-align: center;
}

#why .container_left{
    text-align: center;
    width: 49%;
    display: inline-block;
    line-height: 2em;
    letter-spacing: 0.3em;
    margin-bottom: 50px;
}

#why .container_right{
    text-align: center;
    width: 49%;
    display: inline-block;
    line-height: 2em;
    letter-spacing: 0.3em;
}

#why .container_left h2,.container_right h2{
    color: #003ce0;
}

#why img{
    width: 100%;
}

#how .how_num{
    display: inline-block;
    font-size: 30px;
    border-bottom: solid 3px #000;
    line-height: 1.5em;
    font-weight: bold;
    margin: 30px;
}

#how .process{
    display: inline-block;
    width: 80%;
    line-height: 1.5em;
}

#how ol{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    list-style: none;
}

#story h2{
    /* padding-left: 10%; */
    line-height: 2em;
    /* letter-spacing: 0.3em; */
    font-size: 150%;
}

.title_wrap{
    text-align: center;
}

.right_content{
    font-size: 14px;
    text-align: right;
    margin: 50px 0px;
}
.right_content a:link{
    color: #000;
}
.right_content a:visited{
    color: #000;
}

.to_top_button{
    display: block;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    background: linear-gradient(to bottom, #5af, #054be1);
    color: #FFF;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
}
